@* InputField - instrument-style input (state-down, events-up) *@

<div class="rf-input-field" data-state="@State" @attributes="AdditionalAttributes">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="rf-input-field__label" for="@Id">@Label</label>
    }
    <input class="rf-input-field__input"
           id="@Id"
           type="@Type"
           value="@Value"
           placeholder="@Placeholder"
           disabled="@IsDisabled"
           readonly="@IsReadOnly"
           @oninput="HandleInputAsync"
           @onfocus="HandleFocusAsync"
           @onblur="HandleBlurAsync"/>
</div>