@using Mississippi.Refraction.Components.Molecules.MisCheckboxGroupActions
@namespace Mississippi.Refraction.Components.Molecules

<div class="@GroupCssClass"
     id="@Model.Id"
     role="group"
     aria-label="@Model.AriaLabel"
     title="@Model.Title"
     @attributes="AdditionalAttributes">
    @foreach (MisCheckboxOptionViewModel option in Model.Options)
    {
        <label class="mis-checkbox-option">
            <input class="mis-checkbox-input"
                   type="checkbox"
                   name="@CheckboxName"
                   value="@option.Value"
                   @bind:get="Model.Values.Contains(option.Value)"
                   @bind:set="@((
                                  bool isChecked
                              ) => OnOptionCheckedChangedAsync(option.Value, isChecked))"
                   @bind:event="onchange"
                   disabled="@(Model.IsDisabled || option.IsDisabled)"
                   @onfocus="@(() => DispatchActionAsync(new MisCheckboxGroupFocusedAction(Model.IntentId, option.Value)))"
                   @onblur="@(() => DispatchActionAsync(new MisCheckboxGroupBlurredAction(Model.IntentId, option.Value)))"/>
            <span class="mis-checkbox-option__checkmark"></span>
            <span class="mis-checkbox-option__label">@option.Label</span>
        </label>
    }
</div>