@using Cascade.Server.Components.Atoms
@* MessageComposer.razor - Molecule component for composing and sending messages *@

<div class="message-composer">
    <MessageInput
        Value="@messageContent"
        OnValueChanged="@(v => messageContent = v)"
        OnEnterPressed="@HandleSendAsync"
        Placeholder="Type a message..."
        IsDisabled="@IsSending"/>

    <SendButton OnClick="@HandleSendAsync" IsDisabled="@(IsSending || string.IsNullOrWhiteSpace(messageContent))"/>
</div>