@using Cascade.Server.Components.Atoms
@* MessageItem.razor - Molecule component for displaying a single message *@

<div class="message-item @(IsOwn ? "own" : "")">
    <Avatar UserName="@Message.AuthorDisplayName"/>

    <div class="message-body">
        <div class="message-header">
            <span class="author">@Message.AuthorDisplayName</span>
            <span class="timestamp">@Message.SentAt.ToLocalTime().ToString("HH:mm")</span>
            @if (Message.IsEdited)
            {
                <span class="edited">(edited)</span>
            }
        </div>

        @if (Message.IsDeleted)
        {
            <div class="message-content deleted">
                <em>This message was deleted</em>
            </div>
        }
        else
        {
            <div class="message-content">
                @Message.Content
            </div>
        }
    </div>
</div>